In [393]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px
from sklearn.linear_model import LinearRegression

## EDA

In [394]:
path = 'C:/Users/matys/Downloads/Pokemons/'
file_name = 'pokedex_(Update_05.20).csv'
df = pd.read_csv(path + file_name, sep=',')

df = df.drop(['Unnamed: 0', 'german_name', 'japanese_name'], axis=1)
df.head(10)

,pokedex_number,name,generation,status,species,type_number,type_1,type_2,height_m,weight_kg,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,1,Normal,Seed Pokémon,2,Grass,Poison,0.7,6.9,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,1,Normal,Seed Pokémon,2,Grass,Poison,1.0,13.0,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,1,Normal,Seed Pokémon,2,Grass,Poison,2.0,100.0,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,1,Normal,Seed Pokémon,2,Grass,Poison,2.4,155.5,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,1,Normal,Lizard Pokémon,1,Fire,NaN,0.6,8.5,...,2.0,1.0,1.0,0.50,2.0,1.0,1.0,1.0,0.5,0.5
5,5,Charmeleon,1,Normal,Flame Pokémon,1,Fire,NaN,1.1,19.0,...,2.0,1.0,1.0,0.50,2.0,1.0,1.0,1.0,0.5,0.5
6,6,Charizard,1,Normal,Flame Pokémon,2,Fire,Flying,1.7,90.5,...,0.0,1.0,1.0,0.25,4.0,1.0,1.0,1.0,0.5,0.5
7,6,Mega Charizard X,1,Normal,Flame Pokémon,2,Fire,Dragon,1.7,110.5,...,2.0,1.0,1.0,0.50,2.0,1.0,2.0,1.0,0.5,1.0
8,6,Mega Charizard Y,1,Normal,Flame Pokémon,2,Fire,Flying,1.7,100.5,...,0.0,1.0,1.0,0.25,4.0,1.0,1.0,1.0,0.5,0.5
9,7,Squirtle,1,Normal,Tiny Turtle Pokémon,1,Water,NaN,0.5,9.0,...,1.0,1.0,1.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0

In [395]:
how_many_nulls = df.isnull().sum()

to_delete = []

for index, number in enumerate(how_many_nulls):
    if number > 150:
        to_delete += [index]

df = df.drop(df.columns[to_delete],axis=1)
df = df.dropna()
df.isnull().sum().sum()

0

In [396]:
df.head(10)

,pokedex_number,name,generation,status,species,type_number,type_1,height_m,weight_kg,abilities_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,1,Normal,Seed Pokémon,2,Grass,0.7,6.9,2,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,1,Normal,Seed Pokémon,2,Grass,1.0,13.0,2,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,1,Normal,Seed Pokémon,2,Grass,2.0,100.0,2,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,1,Normal,Seed Pokémon,2,Grass,2.4,155.5,1,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,1,Normal,Lizard Pokémon,1,Fire,0.6,8.5,2,...,2.0,1.0,1.0,0.50,2.0,1.0,1.0,1.0,0.5,0.5
5,5,Charmeleon,1,Normal,Flame Pokémon,1,Fire,1.1,19.0,2,...,2.0,1.0,1.0,0.50,2.0,1.0,1.0,1.0,0.5,0.5
6,6,Charizard,1,Normal,Flame Pokémon,2,Fire,1.7,90.5,2,...,0.0,1.0,1.0,0.25,4.0,1.0,1.0,1.0,0.5,0.5
7,6,Mega Charizard X,1,Normal,Flame Pokémon,2,Fire,1.7,110.5,1,...,2.0,1.0,1.0,0.50,2.0,1.0,2.0,1.0,0.5,1.0
8,6,Mega Charizard Y,1,Normal,Flame Pokémon,2,Fire,1.7,100.5,1,...,0.0,1.0,1.0,0.25,4.0,1.0,1.0,1.0,0.5,0.5
9,7,Squirtle,1,Normal,Tiny Turtle Pokémon,1,Water,0.5,9.0,2,...,1.0,1.0,1.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0

## Preprocessing data

In [397]:
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

Y = df['total_points']
X = df.drop(['name', 'total_points', 'pokedex_number', 'type_number', 'abilities_number', 'egg_type_number', 'species'], axis=1)

numerical = X.select_dtypes(include=np.number).drop(['generation'], axis=1)
len(numerical.columns)

column_transformer = ColumnTransformer([('categorical', OneHotEncoder(drop='first'),
 ['status', 'type_1', 'ability_1','growth_rate', 'egg_type_1', 'generation']),
('numerical', StandardScaler(), numerical.columns)])

X = column_transformer.fit_transform(X)

In [398]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size=0.75)

## Pipeline and training model

In [399]:

pipeline = Pipeline(steps=[ ('feature_selection', SelectFromModel(LinearRegression())),
                            ('clf', LinearRegression())                                            
])

pipeline.fit(x_train, y_train)
preds = pipeline.predict(x_test)

## Results

In [400]:
results = [f'{list(y_test)[i]}, {list(preds)[i]}' for i in range(len(list(y_test)))]
results[:10]

['700.0, 699.9999999999579',
 '486.0, 485.99999999999454',
 '490.0, 489.99999999999034',
 '405.0, 405.0000000000059',
 '418.0, 418.00000000000273',
 '405.0, 405.0000000000051',
 '320.0, 320.0000000000208',
 '360.0, 360.00000000001296',
 '618.0, 617.9999999999691',
 '480.0, 479.9999999999936']

In [401]:
squared_error = sum([(list(y_test)[i] - list(preds)[i]) ** 2 for i in range(len(list(y_test)))])
squared_error

9.198971790728868e-20